body {
  background-color: #f1f1f1;
  background-image: url(/images/bc-gradient.jpeg);
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  color: #96a6c0;
}

/* APP container */

.weather-container {
  background-color: #fff;
  padding: 30px 30px 0 30px;
  border-radius: 32px;
  width: 60vw;
  margin: 40px auto;
}
/*  font-family: "Funnel Display", sans-serif;*/

header {
  margin-bottom: 30px;
}
/* Form */

form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 10px;
}

.input {
  background-color: #f3f4f8;
  width: 80%;
  border: none;
  height: 45px;
  margin-right: 10px;
  padding: 16px;
  border-radius: 30px;
}

.input::placeholder {
  color: #9ca3af;
}

.form-btn {
  background-color: #2885c7;
  border: none;
  padding: 16px 30px;
  color: #fff;
  border-radius: 30px;
}

.form-btn:hover {
  border-radius: 3px;
  cursor: pointer;
  background-color: #b7e1ff;
  color: #2885c7;
  transition: 0.3s;
}
/* Current Weather */

.current-weather {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.city-weather {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: start;
}

.date {
  color: #96a6c0;
  font-size: 14px;
  margin: 0;
}
.current-city {
  font-size: 28px;
  font-weight: 300;
  color: #222041;
  margin: 0;
}

.current-temperature {
  font-size: 55px;
  font-weight: 300;
  color: #222041;
  margin: 0;
}
.current-temperature span {
  font-size: 20px;
  font-weight: 300;
  position: relative;
  top: -25px;
}

.icon {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon img {
  margin: 0;
  position: relative;
  top: -30px;
}

/* Janela humidade, vento e sensação */

.weather-specs {
  width: 50%;
  margin: 10px auto;
  padding: 10px 10px 10px 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 16px;
  color: #fff;
  background: radial-gradient(
    circle at 10% 20%,
    rgb(122, 200, 255) 0%,
    rgb(54, 154, 226) 90%
  );
  position: relative;
  top: -30px;
}

.description {
  color: #fff;
  font-size: 24px;
  font-weight: 400;
  margin: 0;
}

.specification {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 150px;
  padding: 13px 0;
}

.weather-specs img {
  width: 42px;
  height: 42px;
  margin-right: 16px;
}

.spec-name {
  font-size: 12px;
  line-height: 20px;
  margin: 0;
  color: #d7e6ff;
}
.spec-value {
  font-size: 18px;
  font-weight: 400;
}

/* Footer */
footer {
  font-family: "Monda", sans-serif;
  color: #d9d9d9;
  text-align: center;
  font-size: 10px;
  margin: 30px 0 0 0;
  padding: 10px 0 5px 0;
  border-top: 0.5px solid #d9d9d9;
}

footer a {
  color: #7e7e7e;
  text-decoration: none;
}
