body {
  background-color: #f1f1f1;
  background-image: url(/images/bc-gradient.jpeg);
  font-family: "Bricolage Grotesque", sans-serif;
}

/* APP container */

.weather-container {
  background-color: #fff;
  width: 60vw;
  padding: 30px 30px 0 30px;
  margin: 20px auto;
  border-radius: 32px;
}

header {
  margin-bottom: 30px;
}
/* Form */

form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 2%;
  row-gap: 10px;
}

.input {
  background-color: #f3f4f8;
  width: 83%;
  border: none;
  height: 45px;
  padding: 16px;
  border-radius: 30px;
}

.input::placeholder {
  color: #9ca3af;
  font-family: "Bricolage Grotesque", sans-serif;
}

.form-btn {
  width: 100px;
  background-color: #2885c7;
  border: none;
  padding: 16px 30px;
  color: #fff;
  border-radius: 30px;
  font-family: "Bricolage Grotesque", sans-serif;
}

.form-btn:hover {
  border-radius: 3px;
  cursor: pointer;
  background-color: #b7e1ff;
  color: #2885c7;
  transition: 0.3s;
  font-family: "Bricolage Grotesque", sans-serif;
}
/* Current Weather */

.current-weather {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.data-icon {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.city-weather {
  display: flex;
  flex-direction: column;
}

.date {
  color: #96a6c0;
  font-size: 14px;
  margin: 0;
}

.current-city {
  font-size: 28px;
  font-weight: 300;
  color: #323e4f;
  margin: 0;
}

.temperature-display {
  display: flex;
}

.current-temperature {
  font-size: 55px;
  font-weight: 300;
  color: #323e4f;
  margin: 0;
}
.unit {
  font-size: 16px;
  margin: 8px 0 0 4px;
  color: #96a6c0;
}

/* Janela humidade, vento e sensação */

.weather-specs {
  padding: 20px;
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  color: #fff;
  background: radial-gradient(
    circle at 10% 20%,
    rgb(122, 200, 255) 0%,
    rgb(40, 133, 199) 90%
  );
}

.now-dropdown {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  height: 14px;
}

.specs {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.specs-closed {
  display: none;
}

.chevron {
  transform: rotate(180deg);
}

.description {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  flex: 1 1 140px;
  text-transform: capitalize;
}

.specification {
  flex: 1 1 130px;
  display: flex;
  flex-direction: row;
  align-self: center;
  padding: 13px 0;
}

.weather-specs img {
  width: 42px;
  height: 42px;
  margin-right: 16px;
}

.spec-name {
  font-size: 12px;
  line-height: 20px;
  margin: 0;
  color: #d7e6ff;
}
.spec-value {
  font-size: 18px;
  font-weight: 400;
}

/* Forecast */

.weather-forecast {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 20px 0 0 0;
  padding: 10px 40px 0 40px;
  border-top: 0.5px solid #d9d9d9;
}

.weather-forecast-day {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px 0 0 0;
  padding: 20px;
  border-radius: 16px;
  background-color: #f7f8fd;
}

.forecast-day-name {
  color: #96a6c0;
  font-weight: 300;
  font-size: 20px;
}

.forecast-day-temperatures {
  display: flex;
  align-items: center;
  column-gap: 8px;
}

.min-temp {
  font-size: 21px;
  color: #2885c7;
  font-weight: 300;
}

.max-temp {
  font-size: 26px;
  color: #374151;
  font-weight: 300;
}

/* Footer */
footer {
  font-family: "Monda", sans-serif;
  color: #d9d9d9;
  text-align: center;
  font-size: 10px;
  margin: 20px 0;
  padding: 10px 0;
  border-top: 0.5px solid #d9d9d9;
}

footer p {
  margin: 0;
}

footer a {
  color: #7e7e7e;
  text-decoration: none;
}

@media screen and (min-width: 200px) {
  .weather-specs {
    max-width: 200px;
  }

  .now-dropdown {
    min-width: 180px;
  }
}

@media screen and (max-width: 800px) {
  .weather-specs {
    max-width: 300px;
  }
  .data-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .city-weather {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .weather-forecast {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px 0 0 0;
    border-top: 0.5px solid #d9d9d9;
  }
}

@media screen and (max-width: 1030px) {
  .weather-forecast {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 0 0;
    padding: 0 20px;
    border-top: 0.5px solid #d9d9d9;
  }
  .weather-forecast-day {
    display: flex;
    padding: 10px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

@media screen and (min-width: 1000px) {
  .weather-specs {
    max-width: 300px;
  }
  .now-dropdown {
    min-width: 300px;
  }
}
